<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe.classic.Mapper.ReplyMapper">
 	
 	<resultMap type="ReplyVO" id="replyVO">
 		<result column="rid" property="rid"/>
  		<result column="bid" property="bid"/>
  		<result column="content" property="content"/>
  		<result column="writer" property="writer"/>
  		<result column="regdate" property="regdate"/>
  		<result column="rgroup" property="rgroup"/>
  		<result column="rstep" property="rstep"/>
  		<result column="Bwriter" property="Bwriter"/>
  		<result column="secret" property="secret" 
  			typeHandler="BooleanIntegerHandler"/>
  		<result column="delYn" property="delYn"
  			typeHandler="BooleanIntegerHandler"/>
  	</resultMap>
  	<select id="read" resultType="replyVO">
  		select reply.writer,article.writer as Bwriter
  		from 
  			${boardType.CategoryName}_reply as reply 
  		join  ${boardType.CategoryName} as article
  		on reply.bid=article.bid
  		where
  			reply.rid=#{rid}
  	</select>
<!-- 댓글 리스트 조회 -->
	<select id="listCriteria" resultMap="replyVO">
		select reply.rid, reply.bid, reply.content,
			reply.writer, reply.regdate, reply.rgroup,
			reply.rstep, article.writer as Bwriter,
			reply.secret, reply.delYn
		from
		${boardType.CategoryName}_reply as reply, ${boardType.CategoryName} as article
		where 
			reply.bid=article.bid and
			reply.bid=#{bid}
		order by 
			rgroup DESC, rstep ASC
		limit #{replyPageCriteria.startPage}, #{replyPageCriteria.numPerPage}
	</select>
	<!-- 댓글 삭제 -->
	<update id="delete">
		update
		${boardType.CategoryName}_reply
		set delYn=1
		where
			rid=#{rid}
		
	</update>
	
	<!-- 댓글 작성 -->
 	<insert id="write" parameterType="map">
 	<selectKey keyColumn="rid" keyProperty="reply.rgroup" resultType="int" order="BEFORE">
 		select IFNULL(MAX(RID)+1,0) from
 		${boardType.CategoryName}_reply
 	</selectKey>
 	
 	insert into
 	${boardType.CategoryName}_reply
 	(bid,content,writer,rgroup,rstep,secret)
 	values
 		(#{reply.bid},#{reply.content},#{reply.writer},
 		#{reply.rgroup},
 		#{reply.rstep}+1,#{reply.secret, typeHandler = BooleanIntegerHandler})
 	
 	</insert>
 	
 	<!-- 댓글에 재댓글 작성 -->
	<insert id="reWrite" parameterType="map">
 		insert into
 	${boardType.CategoryName}_reply
 		(bid,content,writer,rgroup,rstep,secret)
 		values
 		(#{reply.bid},#{reply.content},#{reply.writer},#{reply.rgroup},
 		#{reply.rstep}+1,#{reply.secret, typeHandler = BooleanIntegerHandler})
 	</insert>
 	
 	<!-- rstep 조작 -->
	<update id="addRstep" parameterType="map">
 		update 
 		${boardType.CategoryName}_reply
 		set rstep=rstep+1
 		where bid=#{reply.bid}
 			and rgroup=#{reply.rgroup} 
 			and rstep>#{reply.rstep}
 	</update>
 	
 </mapper>