<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.test.Mapper.ReplyMapper">
 	<resultMap type="com.test.domain.ReplyVO" id="replyVO">
 		<result column="rid" property="rid"/>
  		<result column="bid" property="bid"/>
  		<result column="content" property="content"/>
  		<result column="writer" property="writer"/>
  		<result column="regdate" property="regdate"/>
  		<result column="rgroup" property="rgroup"/>
  		<result column="rstep" property="rstep"/>
  		<result column="secret" property="secret" 
  			typeHandler="com.test.handler.BooleanIntegerHandler"/>
  		<result column="delYn" property="delYn"
  			typeHandler="com.test.handler.BooleanIntegerHandler"/>
  	</resultMap>
<!-- 댓글 조회 -->
	<select id="listCriteria" resultMap="replyVO">
		select * 
		from
		${boardType.DB_Reply_Table}
		where 
			bid=#{bid}
		order by 
			rgroup DESC, rstep ASC
		limit #{reply.startPage}, #{reply.numPerPage}
	</select>
	<!-- 댓글 삭제 -->
	<update id="delete">
		update
		${boardType.DB_Reply_Table}
		set delYn=1
		where
			rid=#{rid}
		
	</update>
	
	<!-- 댓글 작성 -->
 	<insert id="write" parameterType="map">
 	<selectKey keyColumn="rid" keyProperty="reply.rgroup" resultType="int" order="BEFORE">
 		select IFNULL(MAX(RID)+1,0) from
 		${boardType.DB_Reply_Table}
 	</selectKey>
 	
 	insert into
 	${boardType.DB_Reply_Table}
 	(bid,content,writer,rgroup,rstep,secret)
 	values
 		(#{reply.bid},#{reply.content},#{reply.writer},
 		#{reply.rgroup},
 		#{reply.rstep}+1,#{reply.secret, typeHandler = com.test.handler.BooleanIntegerHandler})
 	
 	</insert>
 	
 	<!-- 댓글에 재댓글 작성 -->
	<insert id="reWrite" parameterType="map">
 		insert into
 	${boardType.DB_Reply_Table}
 		(bid,content,writer,rgroup,rstep,secret)
 		values
 		(#{reply.bid},#{reply.content},#{reply.writer},#{reply.rgroup},
 		#{reply.rstep}+1,#{reply.secret, typeHandler = com.test.handler.BooleanIntegerHandler})
 	</insert>
 	
 	<!-- rstep 조작 -->
	<update id="addRstep" parameterType="map">
 		update 
 		${boardType.DB_Reply_Table}
 		set rstep=rstep+1
 		where bid=#{reply.bid}
 			and rgroup=#{reply.rgroup} 
 			and rstep>#{reply.rstep}
 	</update>
 	
 </mapper>